---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import UserProfile from '../components/UserProfile.jsx'; // Importamos el nuevo componente
---

<Layout title="Mi Perfil - FarmaCUI">
  <Header />

  <div class="bg-white min-h-screen py-10">
    <main class="container mx-auto px-4">
      
      <UserProfile client:only="react" />

    </main>
  </div>
</Layout>