---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CartList from '../components/CartList.jsx'; // Importamos el componente de React
---

<Layout title="Mi Carrito - FarmaCUI">
  <Header />

  <main class="container mx-auto px-4 py-8 bg-gray-100 min-h-screen">
    <h1 class="text-3xl font-bold text-gray-800 mb-8">Mi Carrito de Compras</h1>
    
    <CartList client:only="react" />

  </main>
</Layout>